@model List<CourseProject.Models.Excursion>
<h2>Search for excursion</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var excursion in Model)
        {
            <tr>
                <td>@excursion.Title</td>
                <td>@excursion.Price $</td>
            </tr>
        }
    </tbody>
</table>