@page "{userId}"
@model CourseProject.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>Tourist Handbook</h1> <br />
<h3>It's a task for OOP's Course Project</h3>
<h3><u>Author</u>: Roman Tarasov</h3>
<h3><u>Group</u>: SE-18-5</h3>

