@page "{userId}/{excId}"
@model CourseProject.Pages.UpdateExcursionModel
@{
    ViewData["Title"] = "UpdateExcursion";
}

<h1>Excursion</h1>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input hidden asp-for="UserId" />
    <input hidden asp-for="Excursion.Id" />
    <div class="form-group">
        <label asp-for="Excursion.Title">Title</label>
        <input asp-for="Excursion.Title" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Excursion.Price">Price</label>
        <input asp-for="Excursion.Price" type="number" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Excursion.ToursId"></label>
        <select class="form-control" asp-for="Excursion.ToursId" asp-items="Model.SelectOptions" multiple></select>
    </div>
    <button asp-page-handler="ok" class="btn-lg btn-success">OK</button>
    <button asp-page-handler="cancel" type="submit" class="btn-lg btn-danger ml-3">Cancel</button>
</form>

